@media only screen and (min-width: 316px){
	html {
    	font-size: 62.5%;
	}
}
@media only screen and (min-width: 640px){
	html {
    	font-size: 125%;
	}
}
@media only screen and (min-width: 750px){
	html {
    	font-size: 150%;
	}
}
@media only screen and (min-width: 1242px){
	html {
    	font-size: 187.5%;
	}
}
#example{
  background-color: #181819;
  width: 100%;
  height: 100%;
//   background-image: url("../images/backgroundshadow.png");
  background-size: 100%;
}
.page-login .page-login-bg-div{
    height: 20rem;
    box-sizing: border-box;
    margin-bottom: 10%;
}
.page-login .page-login-bg-img{
  display: block;
  padding-top: 20%;
  width: 32%;
  margin: 0 auto;
}
.am-wingblank.am-wingblank-lg.page-login-WingBlank{
    margin-left: 2.6rem;
    margin-right: 2.6rem;
}
.am-whitespace.am-whitespace-xs.page-login-WhiteSpace{
    height: 1.5rem;
}
.page-login-WingBlank .am-list-item{
    background-color: transparent;
    padding-left: 0px!important;
}
.am-list-item .am-list-line{
    border: 1px solid #2c2c2d;
    border-radius: 0.5rem;
}
#example .am-list-item .am-list-line{
    padding-right: 0;
    background-color: #000;
}
.page-login .am-list-item .am-input-label.am-input-label-5{
    width: 2.5rem;
    padding-left: 1rem;
}

.page-login .am-list-item .am-input-control input{
    color: #fff;
}
.am-wingblank .am-list-item.am-input-item{
    height: 4.2rem;
}
.am-button.page-login-bottom{
    background-color: #9f236a;
    color: #fff;
}
.am-button.page-login-bottom.am-button-active{
    background-color: #750e4a;
}
html:not([data-scale]) .am-button::before {
    border: none!important;
}
html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after {
    background-color: #fff!important;
}
.am-flexbox-item a{
    color: #fff;
    font-size: 1.4rem;
}

#example .am-navbar-light .am-navbar-title {
    color: #fff;
}
.am-list-item .am-input-label  img{
    height: auto;
}
.page-register .am-list-line .am-input-extra{
    display: inline-block;
    padding: 0.5rem;
    color: #a0256c;
    border: 1px solid #a0256c;
    border-radius: 1rem;
    background-color: #251d22;
    margin-right: 0.6rem;
}
.toPageMoreInfo {
    display: block;
    width: 100%;
    height: 100%;
}
.successModalPopUp .am-modal-content{
    background-color: transparent;
}
.successModalPopUp .am-modal-content .page-moreInfo-successPopUp-img{
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.successModalPopUp .am-modal-content span{
    font-size: 1.8rem;
}
.am-tabs-tab-bar-wrap{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.am-tab-bar-bar{
    background-image: url("../images/tab-bar-background.png");
    background-size: 100% 50px;
}
.tab-bar-icon-img{
    width: 20px;
    height: 20px;
}